#clock {
  font-size: x-small;
}

#heart, #heartOutline{
  font-size: medium;
  float: right;
}

.liDisplay{
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 20px;
}

.logo{
  margin-top: 30px;
}

.hidden {
    display: none;
}

#jokeTab, #activityTab {
  margin-left: 70px;
}


